<div class="well well-sm">
	<div id="feeds" class="list-group">
		<select  class="" ng-model="selected" ng-options="track for track in tracks" ng-change="getTrack()" ng-disabled="adding"></select>
		<h1>{{selected}}</h1>
		<a class="btn btn-info" ng-click="changeName()" ng-if="selected"><i class="fa fa-file-text"></i></a>
		<a class="btn btn-danger" ng-click="deleteTrack()" ng-if="selected"><i class="fa fa-times"></i></a>
		<a class="btn btn-success" ng-click="joinTrack()" ng-if="selected"><i class="fa fa-plus"></i></a>
		<br>
		<select  class="form-control-sm" ng-model="other" ng-options="track for track in tracks" ng-change="addTrack()" ng-show="adding"></select>
		<a class="btn btn-success btn-sm" ng-click="joinTracks()" ng-if="adding"><i class="fa fa-check" ></i></a>
		<a class="btn btn-danger btn-sm" ng-click="cancelAdd()" ng-if="adding"><i class="fa fa-ban" ></i></a>

		<div class="row">
			<div class="col-lg-10 col-md-10 col-xs-10 " >
				<div class="map-div">
					<p id="map"></p>
				</div>
			</div>
		</div>
		<div class="row">
			<uib-tabset active="active">
				<uib-tab index="0" heading="Parameters">
					<div class="col-lg-2 col-md-2 col-xs-2" >
						<p ng-bind="sum" ng-if="sum"></p>
						<p ng-bind="length" ng-if="length"></p>
					</div>
				</uib-tab>
				<uib-tab index="1" heading="Streets">
					<div class="col-lg-2 col-md-2 col-xs-2" >
						<p ng-repeat="street in streets track by $index"ng-bind="street" ></p>
					</div>
				</uib-tab>
			</uib-tabset>
		</div>
	</div>
</div>



